<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>
	<link href="template.less" rel="stylesheet/less" />
	<script src="jquery-1.10.2.min.js"></script>
	<script src="less.min.js"></script>
	<script src="angular.min.js"></script>
	<script src="script.js"></script>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- <link href="css/style.css" rel="stylesheet"> -->

  </head>

  <body ng-controller="PhoneListCtrl">
   
   <div id="wrapper">
     
    <p id="soz">Сегодня в кино</p>
    
    <div ng-repeat="i in item" id="advertise">
      <p id="f_soz"><a>{{ i.name }}</a></p>
      <a id="button" href="#" ng-click="addNew()"><p id="rButton">Купить билет</p></a>
      <img src="{{ i.image }}" id="imagee">
      <p id="nKino">{{ i.nKino }}</p>
      <p id="nPod">"{{ i.nPod }}"</p>
      <p id="title">{{ i.title }}</p>
      <a href="#"><p id="podrobnei">{{ i.podrobnei }}</p></a>
      <p id="restriction">Ограничение: <span id="red_restriction">{{ i.restriction }}</span></p>
      <p id="raiting"><a href="#" id="raiting2">Рейтинг:</a><span>{{ i.raiting }}</span></p>
      <p id="golos">Проголосовало:<span>{{ i.golos }}</span></p>
      <p id="star"><img src="{{ i.stars }}" id="star2"></p>
      <p id="recense"><a href="#">{{ i.recense }}</a></p>
      <!-- <p id="golos"></p>
      <p id="star"><img src=""></p>
      <p><a href="#"></a></p> -->
    </div>
   
   </div>
  
  <div id="auth0" ng-show="goCats">
   
  </div>
  
  <div id="auth" ng-show="goCats">
    <p id="au1">АВТОРИЗАЦИЯ</p>
    <input type="text" placeholder="E-mail" id="au2" ng-model="email" >
    <input type="text" placeholder="Пароль" id="au3" ng-model="pass">
    <input type="button" value="Войти" id="au4" ng-click="addNew2(email, pass)">
   </div>

  <div id="cinema_box" ng-show="goDogs">
    <p id="current">{{ current }}</p>
    <p id="current2">{{ current2 }}</p>
    <div id="bilet">
      <p style="font-size:17px;">{{ count }} билет - <span style="color:orange">{{ tenge }} тенге</span></p>
    </div>
    <div id="mesta">
      <p id="t1"></p>
      <p id="t2"></p>
      <p id="t3"></p>
      <p id="t4" ng-click="countM(t4=!t4)"></p>
      <p id="t5" ng-click="countM(t5=!t5)"></p>
      <p id="t6" ng-click="countM(t6=!t6)"></p>
      <p id="t7" ng-click="countM(t7=!t7)"></p>
      <p id="svobodno"></p><p id="svo"> - свободно</p>
      <p id="zanyato"></p><p id="svo1"> - занято</p>
      <p id="vash_vybor"></p><p id="svo2"> - ваш выбор</p>
    </div>
    <input type="button" id="kupit" value="Купить" ng-click="addMassive()">  
  </div>

  
   <div id="el1" ng-show="goCats1">
   
  </div>

  <div id="el2" ng-show="goCats1">
    <p id="au11">Общая сумма ровна {{ tenge }} тенге. Спасибо что воспользовались нашим сервисом!</p>
    
   </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
  </body>





































































<!-- <div class="container">
      
      <div class="row">
        <div class="col-md-3 first" id="wow">
          FIRST DIV
        </div>
        <div class="col-md-6 first" id="wow2">
          SECOND DIV
        </div>
        <div class="col-md-3 first" id="wow">
          THIRD DIV
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 first" id="wow00">
          FIRST DIV
        </div>
        <!-- <div ng-repeat="i in massive" class="col-md-6 first" id="wow22">
          SECOND DIV
        </div> -->
        <!-- <div id="wow33">
        <div ng-repeat="i in massive" class="col-md-6 first" id="bot">
          SECOND DIV {{ i }}
        </div>
        <div class="col-md-3 first" id="wow22">
          THIRD DIV
        </div>
      </div> --> -->

<!--       <div class="row" id="tweet">
        <div ng-repeat="i in massive" class="col-md-6 first" id="wow22">
          SECOND DIV {{ i }}
        </div>
      </div>  
 -->
    <!-- </div> -->

    



  <!-- <div ng-repeat="i in massive" class="col-md-6 first" id="wow2">
          SECOND DIV {{ i }}
        </div> -->

   <!-- <div id="first_div">{{ title }}</div> -->
