body{
	background: #EFEEEE;
}

#wrapper{
	/*background:#53354A;*/
	width:960px;
	height:500px;
	margin-left:13%;
	margin-top:10px;
	color:black;
	font-size:16px;
	position:absolute;
	height:100%;
	margin-bottom:520px;
}

#soz{
	margin-left:48px;
	margin-top:10px;
	position:absolute;
	font-weight:bold;
}

#advertise{
	background:#E1E1E1;
	width:90%;
	margin-left:50px;
	margin-top:45px;
	height:285px;
}

#f_soz{
	margin-left:20px;
	margin-top:10px;
	position:absolute;
	text-decoration:underline;
	color:#12406F;
}

#rButton{
	position:absolute;
	margin-left:79%;
	width:94px;
	background-color:#8BC056;
	padding:6px;
	border-radius:5px;
	color:white;
	font-size:13px;
	margin-top:1%;
}

#imagee{
	width:170px;
	height:160px;
	position:absolute;
	margin-left:20px;
	margin-top:45px;
}

#nKino{
	position:absolute;
	color:#DC3224;
	margin-left:215px;
	margin-top:40px;
	font-weight:bold;
	font-size:17px;
}

#nPod{
	color:#B0BBC7;
	position:absolute;
	margin-left:215px;
	margin-top:60px;
	font-weight:bold;
	font-size:15px;
}

#title{
	width:68%;
	height:30px;
	margin-left:215px;
	margin-top:100px;
	position:absolute;
}

#button{
	color:white;
}

#podrobnei{
	width:68%;
	height:30px;
	margin-left:215px;
	margin-top:155px;
	position:absolute;
	font-size:14px;
	text-decoration:underline;
}

#restriction{
	color:#B0BBC7;
	font-size:14px;
	margin-left:375px;
	margin-top:156px;
	position:absolute;
}

#red_restriction{
	color:#DC3224;
	font-size:14px;
}

#raiting{
	font-size:13px;
	margin-left:215px;
	margin-top:190px;
	position:absolute;
}

#raiting2{
	text-decoration:underline;
}

#golos{
	position:absolute;
	font-size:13px;
	margin-left:305px;
	margin-top:190px;
}

#star{
	margin-left:215px;
	margin-top:215px;
	position:absolute;	
}

#star2{
	width:200px;
	height:17px;
}

#recense{
	margin-left:215px;
	margin-top:255px;
	position:absolute;
	font-size:14px;	
	text-decoration: underline;
}

#auth{
	background:white;
	width:280px;
	height:260px;
	z-index:1;
	position:absolute;
	margin-left:480px;
	margin-top:200px;
}

#auth0{
	width:100%;
	height:180%;
	background:black;
	position:absolute;
	opacity:0.8;
}

#au1{
	position:absolute;
	margin-left:20%;
	margin-top:30px;
	font-size:17px;
	font-weight:bold;
}

#au2{
	position:absolute;
	margin-left:20%;
	margin-top:70px;
	height:40px;
	background:#DADADA;
	border-radius:5px;
	color:black;
	padding:2px;
}

#au3{
	position:absolute;
	margin-left:20%;
	margin-top:120px;
	height:40px;
	background:#DADADA;
	border-radius:5px;
	color:black;
	padding:2px;
}

#au4{
	position:absolute;
	margin-left:65%;
	margin-top:210px;
	background:#206BAF;
	border-radius:5px;
	color:white;
	height:35px;
	width:80px;
}

/*#error{
	position:absolute;

}*/

#cinema_box{
	background:white;
	width:480px;
	height:460px;
	z-index:1;
	position:absolute;
	margin-left:400px;
	margin-top:100px;
}

#current{
	font-size:18px;
	font-weight:bold;
	position:absolute;
	margin-left:10px;
	margin-top:10px;
}

#current2{
	font-size:16px;
	position:absolute;
	margin-left:10px;
	margin-top:35px;
	color:grey;
}

#bilet{
	width:100%;
	height:60px;
	position:absolute;
	margin-top:65px;
	background:#E5E5E5;
	padding:10px;
}

#mesta{
	width:100%;
	height:260px;
	position:absolute;
	margin-top:126px;
	background:#333333;
	padding:10px;	
}

#svobodno{
	position:absolute;
	margin-left:2%;
	margin-top:45%;
	background:green;
	height:20px;
	width:20px;
	color:white;
}

#svo{
	position:absolute;
	color:grey;
	margin-left:40px;
	margin-top:218px;
}

#zanyato{
	position:absolute;
	margin-left:37%;
	margin-top:45%;
	background:grey;
	height:20px;
	width:20px;	
	color:white;
}

#svo1{
	position:absolute;
	color:grey;
	margin-left:43%;
	margin-top:218px;
}

#vash_vybor{
	position:absolute;
	margin-left:65%;
	margin-top:45%;
	background:orange;
	height:20px;
	width:20px;	
	color:white;	
}

#svo2{
	position:absolute;
	color:grey;
	margin-left:71%;
	margin-top:218px;
}

#kupit{
	position:absolute;
	margin-left:38%;
	margin-top:85%;
	background:orange;
	color:white;
	height:40px;
	width:100px;
	font-size:17px;
}

#el1{
	width:100%;
	height:180%;
	background:black;
	position:absolute;
	opacity:0.8;
}

#el2{
	background:white;
	width:380px;
	height:260px;
	z-index:1;
	position:absolute;
	margin-left:480px;
	margin-top:200px;
	color:green;
	font-size:19px;
}

#au11{
	margin-left:30px;
	margin-top:30px;
}

#t1{
	position:absolute;
	margin-left:2%;
	margin-top:25%;
	background:grey;
	height:20px;
	width:20px;
	color:white;
}

#t2{
	position:absolute;
	margin-left:10%;
	margin-top:25%;
	background:grey;
	height:20px;
	width:20px;
	color:white;
}

#t3{
	position:absolute;
	margin-left:18%;
	margin-top:25%;
	background:grey;
	height:20px;
	width:20px;
	color:white;
}

#t4{
	position:absolute;
	margin-left:28%;
	margin-top:25%;
	background:green;
	height:20px;
	width:20px;
	color:white;
}

#t5{
	position:absolute;
	margin-left:38%;
	margin-top:25%;
	background:green;
	height:20px;
	width:20px;
	color:white;
}

#t6{
	position:absolute;
	margin-left:48%;
	margin-top:25%;
	background:green;
	height:20px;
	width:20px;
	color:white;
}

#t7{
	position:absolute;
	margin-left:58%;
	margin-top:25%;
	background:green;
	height:20px;
	width:20px;
	color:white;
}






















































/*#first_div{
	background:azure;
	height:300px;
	width:300px;
	margin-left:5px;
}

.first{
	background:#53354A;
	color:white;
	height:300px;
	margin-left:5px;
}


#wow{
	width:280px;
}

#wow2{
	height:100px;
}*/

/*#wow00{
	width:280px;
	margin-top:5px;
}
*/
/*#wow001{
	width:280px;
	margin-top:-205px;
	margin-left:5px;
}*/

/*#wow22{
	
}*/

/*#wow00{
	width:280px;
	margin-top:10px;
}

#wow22{
	width:280px;
	position:absolute;
	margin-left:592px;
	margin-top:200px;
	margin-top:-300px;
	margin-left:880px;
}

#wow33{
	width:1165px;
	margin-top:-190px;
	position:absolute;
	margin-left:288px;
}

#bot{
	margin-bottom:10px;
}*/
/*#tweet{
	margin-top:-200px;
}
*/